.box {
  width: 240px;
  height: 180px;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(239, 239, 239);
  overflow-y: hidden;
  overflow-wrap: anywhere;
}

.box:hover {
  scale: 1.2;
  cursor: pointer;
}

.box img {
  width: 210px;
  object-fit: contain;
  border: white;
}
